<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1.dinnerlogin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode = "singleInstance">

        <activity android:name=".releaseDate.releaseDate">
        </activity>

        <activity android:name=".login.login">

        </activity>

        <activity android:name=".login.register">
        </activity>
        <activity android:name=".applyDate.checkApply">
        </activity>
        <activity android:name=".applyDate.checkMsg"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".applyDate.readApply"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".applyDate.checkOrderInfo"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".applyDate.applyMsg"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".releaseDate.homePage"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".releaseDate.orderInfo">
        </activity>
        <activity android:name=".applyDate.applyOrder">
        </activity>
        <activity android:name=".userInfo.userInfoEdit">
        </activity>
        <activity android:name=".userInfo.userAddressEdit">
        </activity>
        <activity android:name=".userInfo.userGenderEdit">
        </activity>
        <activity android:name=".userInfo.userNameEdit">
        </activity>
        <activity android:name=".userInfo.userSchoolEdit">
        </activity>
        <activity android:name=".applyDate.msgMenu"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".order.orderList">
        </activity>
        <activity android:name=".order.orderInfoForList">
        </activity>
        <activity android:name=".query.OrderInfo">
        </activity>
        <activity android:name=".query.query">
        </activity>
        <activity android:name=".query.queryresultActivity"
            android:launchMode="singleTask">
        </activity>

    </application>

</manifest>