<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1.dinnerlogin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".releaseDate.releaseDate">
        </activity>

        <activity android:name=".login.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.register">
        </activity>
        <activity android:name=".releaseDate.homePage">

        </activity>
        <activity android:name=".menu">
            </activity>
        <activity android:name=".releaseDate.orderInfo">
        </activity>
        <activity android:name=".applyDate.applyOrder">
        </activity>
        <activity android:name=".userInfo.userInfoEdit">
        </activity>
        <activity android:name=".userInfo.userAddressEdit">
        </activity>
        <activity android:name=".userInfo.userGenderEdit">
        </activity>
        <activity android:name=".userInfo.userNameEdit">
        </activity>
        <activity android:name=".userInfo.userSchoolEdit">
        </activity>
        <activity android:name=".applyDate.message">

        </activity>

    </application>

</manifest>